VITE_SUPABASE_URL=https://fskbjahqstkorgydkxdz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZza2JqYWhxc3Rrb3JneWRreGR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMzkxNzEsImV4cCI6MjA5NzcxNTE3MX0.wOBJQQwhxDaB5f9mEIM5SF5wUThVRPwWlCnHGMijfSU
